button {
  height: 90px;
  width: 90px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body {
  height: 100px;
  width: 150px;
  margin: 20px;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

input[type=submit] {
    padding:7px 15px; 
    background:#dcdcdc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* slider tube */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .2s;
}
/* slider circle */
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  transition: .2s;
}

input:checked + .slider {
  background-color: #41a4f2;
}
/*travel distance*/
input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}