button {
  height: 90px;
  width: 90px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body {
  height: 100px;
  width: 150px;
  margin: 20px;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

input[type=submit] {
    padding:7px 15px; 
    background:#dcdcdc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}